@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

$white: #ffffff;
$deepSeaGreen: #0d456a;
$brightTurquoise: #00e6ec;
$turbo: #f8ea01;
$graniteGreen: #8f8d7d;
$sisal: #d6d3ba;
$blackPearl: #041622;
$whiteLinen: #faf9ef;

.header-bg {
  background-color: $deepSeaGreen;
}

.deepSeaGreen-text {
  color: $deepSeaGreen;
}

.turbo-text {
  color: $turbo;
}

.nav-text {
  font-size: 1.4rem;
}
// FEATURES AND BENEFITS
.card {
  background-color: $deepSeaGreen !important;
  font-family: 'Rock Salt', sans-serif;
  display: flex;
  align-items: center;
  padding: 5%;
  margin-top: 10%;
}
h3 {
  padding-left: 10%;
  color: $brightTurquoise;
}
h2 {
  font-family: 'Rock Salt', sans-serif;
  color: $deepSeaGreen;
}
// COMING SOON
.comingsoon {
  background-color: $turbo;
}