$white: #ffffff;
$deepSeaGreen: #0d456a;
$brightTurquoise: #00e6ec;
$turbo: #f8ea01;
$graniteGreen: #8f8d7d;
$sisal: #d6d3ba;
$blackPearl: #041622;
$whiteLinen: #faf9ef;

.header-bg {
  background-color: $deepSeaGreen;
}
