@import url("https://fonts.googleapis.com/css?family=Rock+Salt&display=swap");

$white: #ffffff;
$deepSeaGreen: hsl(204, 78%, 23%);
$brightTurquoise: #00e6ec;
$turbo: #f8ea01;
$graniteGreen: #8f8d7d;
$sisal: #d6d3ba;
$blackPearl: #041622;
$whiteLinen: #faf9ef;

header {
  background: linear-gradient(
      to bottom,
      hsla(204, 78%, 23%, 1),
      hsla(204, 78%, 23%, 0.9)
    ),
    url(../assets/hero_bg.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 9;
}

.header-bg {
  background-color: $deepSeaGreen;
}

.deepSeaGreen-text {
  color: $deepSeaGreen;
}

.turbo-text {
  color: $turbo;
}

.nav-text {
  font-size: 1.4rem;
}

// FEATURES AND BENEFITS
.card {
  background-color: $deepSeaGreen !important;
  font-family: "Rock Salt", sans-serif;
  display: flex;
  align-items: center;
  padding: 5%;
  margin-top: 10%;
}
h3 {
  padding-left: 10%;
  color: $brightTurquoise;
}
h2 {
  font-family: "Rock Salt", sans-serif;
  color: $deepSeaGreen;
}
.carousel {
  height: 650px;
  top: -100px;
}
.row {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.hero-right {
  height: 550px;
}

.hero-right-content {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-evenly;
  align-items: center;
}
.hero-section {
  height: 77vh;
  display: flex;
}

// COMING SOON
.comingsoon {
  background-color: $turbo;
  font-size: 2.4rem;
  font-family: 'Rock Salt'!important;
  padding: 5%;
  display:flex;
  flex-flow: column;
  align-items: center;
}
#apptext {
  font-size: 2.1rem;
}

// DIVIDERS
.divider {
background-color: $deepSeaGreen;
width: 100%;
height: 96px;
}

.hero-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hero-left {
  width: 75%;
}
.heroFooter-img {
  width: 40%;
}

.hero-right-text {
  color: $white;
  font-size: 2vw;
}

.heroAppStore-img {
  width: 80%;
}

.alink {
  color: $white;
  font-size: 1.5vw;
  border-bottom: 1px solid $white;
}

